$header-blue: #4056A1;
$profile-background-color: #cc9a3e;
$primary-background-color: #f4f1ec;
$primary-color: #545149;
$alert-red: #dd4c31;

@mixin flexbox-middle() {
  display: flex;
  justify-content: center;
}