@use '_constants.scss' as constants;

header#profile-header {
  padding-top: 5%;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-color: constants.$profile-background-color;
  background-image: url('../images/cartographer.png');
}

@media only screen and (min-width: 1024px) {
  header#profile-header {
    margin: 5%;
    width: 35%;
    min-width: inherit;
  }

  header#profile-header>div>img {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 768px) {


}