@use '_constants.scss' as constants;

$border-size: 4px;

article {
  border: $border-size solid constants.$primary-color;
  padding: 2%;
  margin: 3% 2%;
  
  img {
    transform: scale(0.8);
  }
}

article:hover {
  box-shadow: 6px 6px 0px 0px rgba(84, 81, 73, .4)
}

article>header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4%;
}

article>header>div {
  display: flex;
  align-items: center;
  column-gap: 5%
}

article>footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5%;
}

article>p {
  word-wrap: break-word;
}

article>footer>p {
  font-size: 70%;
  font-weight: 700;
}

article>footer>div {
  display: flex;
}

article>footer>div>i {
  transform: scale(0.6);
  color: constants.$header-blue;
  transition: linear 30ms;
  cursor: pointer;
}

article>footer>div>i:hover {
  color: constants.$profile-background-color;
}

article>hr {
  border-top: $border-size solid constants.$primary-color;
}

header>p>strong {
  color: rgba(84, 81, 73, .4);
}