header#profile-header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-color: #cc9a3e;
  background-image: url('../images/cartographer.png');
}