button {
  background-color: #4056A1;
  color: white;
  border: none;
}

label {
  font-family: 'Source Sans 3', sans-serif;
}

#tweet-text {
  background: inherit;
  border: 0;
  border-bottom: 4px solid #545149;
  margin: 10px 0;
  outline: none;
  height: 60px;
  font-size: large;
}

.post-input-layer {
  display: flex;
  flex-direction: column;
}

.button-text-layer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  max-height: 30px;
}

.new-tweet {
  margin: 40px 2%;
}

.tweet-error {
  width: 70%;
  height: inherit;
  border: 3px solid #dd4c31;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  font-size: large;
  font-weight: 600;
  align-items: center;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    button {
      height: fit-content;
    }
}