#scroll-to-top {
  align-self: flex-end;
  text-decoration: none;
  position: sticky;
  bottom: 24px;
  margin-right: 0.1em;
}

/* Circle container */
#scroll-to-top>div {
  background-color: #dd4c31;
  border-radius: 50%;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px 0px #00000069;
  transition: all 0.1s linear;
}

#scroll-to-top>div:hover {
  transform: scale(1.1, 1.1);
}

#scroll-to-top>div>i {
  color: white;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #scroll-to-top {
      transform: scale(2.5, 2.5);
      bottom: 85px;
      margin-right: 3em;
    }
}